<!DOCTYPE html>
<html>
<head>
    <title>Insert New Words</title>
</head>
<body>
    <center>
    <form action="/add" method="post">
        <div>Issue: <input type="text" name="issue" size="8"></div>
        <div>Page Number: <input type="text" name="page" maxlength="3"> </div>
        <div>Title: <input type="text" name="title" size="40"></div>
        <br>

        <div><textarea name="rawWords" rows="8" cols="20"></textarea></div>
        <div><input type="submit" value="Process"></div>
    </form>
    </center>

</body>
</html>